#carousel {
  max-height: 770px;
  margin: 3%;
}

#carousel-image {
  max-height: 770px;
  opacity: .75;
}

#carousel-text-box {
  background-color: darkgrey;
  opacity: .90;
  padding: 5%;
  margin-bottom: 20%;
  border: 2px solid black;
}

.carousel-text {
  color: black;
  font-weight: bold;
}
